    #main
    {
        margin: auto;
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.5);
        width: 500px;
        box-shadow: 2px 2px;
        border-radius: 3px;
        background: white;
        user-select: none;
    }
    body {
        margin-top: 5%;
        background: rgba(0,0,0, 0.04);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    }
    pre 
    {
        font-size: 12pt;
        padding: 20px;
    }
    a 
    {
        text-decoration: none;
        color: rgba(0,0,0,0.6);
    }
    a:hover 
    {
        text-decoration: underline;
        color: black;
    }
    img 
    {
        padding-right: 10px;
    }
    .line-1{
        position: relative;
        top: 50%;  
        width: auto;
        margin: 0 auto;
        border-right: 2px solid rgba(0, 0, 0, 0.75);
        font-size: 180%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);    
    }

    /* Animation */
    .anim-typewriter{
        animation: typewriter 1s steps(12) 0s 1 normal both,
                    blinkTextCursor 500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
        from{width: 0;}
        to{width: 45%;}
    }
    @keyframes blinkTextCursor{
        from{border-right-color: rgba(0, 0, 0, 0.75);}
        to{border-right-color: transparent;}
    }
    .tab {
        position:relative;
        cursor: pointer;
        padding: 10px;
        margin: auto;
        background: #ffffff;
        display: inline-block;
        color: rgb(0, 0, 0);
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 2px 2px;
        border-radius: 3px;
        font-size: 12pt;
    }
    #tabs
    {
        margin: auto;
        padding: 10px;
        width: 500px;
        user-select: none;
    }
    .scale {
        cursor: pointer;
        transition: 500ms;
    }
    .scale:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
